# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Streamlit secrets
.streamlit/secrets.toml

# Reports and models
reports/

models/*.pkl

data_raw/
data_processed/

# Jupyter checkpoints
.notebooks_checkpoints/
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db